.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--secondary);
  padding: 0.5rem;
  border-radius: 8px;
  background: white;
  margin: 0.5rem 0rem;
  &__body {
    &__text {
      margin: 0rem;
      color: var(--primary);
      font-size: 12px;
    }
  }
}
