.btn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  color: var(--primary);
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &__basic {
    min-width: 80px;
    color: wheat;
    background: var(--primary);
  }
  &__icon {
    background: transparent;
    min-width: 40px;
    color: var(--primary);
  }
  .icon {
    &--edit {
      &:hover {
        color: var(--secondary);
      }
    }
    &--delete {
      &:hover {
        color: var(--secondary);
      }
    }
  }
}
