.btn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font-size: 16px;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: 0;
  color: var(--primary);
  cursor: pointer;

  &:focus {
    outline: none;
  }
  &__basic {
    min-width: 80px;
    color: wheat;
    background: var(--primary);
    transition: all 0.3s ease-in-out;
    border: 1px solid var(--primary);
    box-shadow: var(--element-shadow);

    &:hover {
      box-shadow: none;
      color: var(--primary);
      background: var(--light-orange);
    }
  }
  &__icon {
    background: transparent;
    min-width: 40px;
    color: var(--primary);
    border: none;
    box-shadow: none;
    &:hover {
      color: var(--secondary);
      background: transparent;
    }

    .delete {
      color: red;
    }
  }
}
