.todo-container {
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  min-height: 350px;
  background: #f4f0f0;
  border-radius: 8px;
  .header {
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .body {
    max-height: 450px;
    overflow-y: scroll;
    padding-bottom: 1rem;
  }

  .body {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .body::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .title {
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: var(--primary);
    font-size: 25px;
  }
  .subTitle {
    margin-top: 0rem;
    color: var(--secondary);
    font-size: 14px;
  }

  .empty-message {
    background: var(--light-orange);
    color: var(--primary);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 20px;
  }
}
